body {
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

/*====================================
Header
======================================*/
.head-item {
    margin-right: 1%;
    margin-left: 1%;
}
#head-menu {
    position: fixed;
    top:1%;
    right:0%;
    z-index:3;

    width: 20%;

    font-size: larger;
}

/*====================================
Footer
======================================*/
#foot-menu {
    position: absolute;
    top: 200%;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
#foot-title {
    color: white;
}

/*====================================
Slideshow
======================================*/
#slider {
    position: relative;
    display: flex;
    background-color: blue;
    width: 100vw;
    height: 20vw;

    justify-content: center;
}
.slider-item {
    position: absolute;
    width: 16vw;
    aspect-ratio: 16 / 9;
    background-color: aqua;
}

/*== Arrow ==*/
.arrow {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.35s ease;
    user-select: none;
    z-index: 3;

    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover {
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgba(0, 0, 0, 1);
    color: black;
    scale: 1.2;
    font-size: 25px;
}

.left {
    position: absolute;
    top: 35%;
    left: 28vw;
}
.right {
    position: absolute;
    top: 35%;
    right: 28vw;
}

/*== Indicater ==*/
#slider-indicater {
    position: absolute;
    bottom: 5%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.35s ease;
}
.dot:hover {
    background-color: #717171;
}
.dot.active {
    background-color: #717171;
}