body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slides {
    position: absolute;
    opacity: 0.5;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.slides img {
    width: 100%;
    height: auto;
}

.slides.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 3;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.arrow:hover {
    background-color: rgba(0,0,0,0.5);
}

/* インジケーターのスタイル */
.indicators {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}